<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   {% include 'menu.html' %}

    {% for i in movies %}
   <h1>Title : {{ i.title | upper }}</h1>
   <p>Summary : {{ i.summary }}</p>
   <p>Year : {{ i.year }}</p>
   <p>Poster : {{ i.poster }}</p>
   {% if i.sucess %}
   <p>Status :  Movie Was Sucess </p>
   {% endif %}

   {% endfor %}


   
</body>
</html>